<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083873194572-oslhstt6bgkgcsn9sb0rvkebmp26tpu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083873194572-oslhstt6bgkgcsn9sb0rvkebmp26tpu7</string>
	<key>API_KEY</key>
	<string>AIzaSyAWw3v-9NevG0AuW5vstyAterRwZLGa8No</string>
	<key>GCM_SENDER_ID</key>
	<string>1083873194572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xavierchia.NeckStretch</string>
	<key>PROJECT_ID</key>
	<string>neckstretch-5b6f7</string>
	<key>STORAGE_BUCKET</key>
	<string>neckstretch-5b6f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083873194572:ios:a64f1b2b70f12997aefae9</string>
</dict>
</plist>
